.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #100703;
  border: 1px solid #e3e3e9;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #ac755d;
  border-color: #5f5fcf;
}